<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car1" class="SpringStu.com.albert.OD.Car"
    p:brand="bencz"
          p:color="black"
          p:maxSpeed="200"
    />

    <bean id="car" class="SpringStu.com.bean.lifecycle.od.Car"
          init-method="myInit"
          destroy-method="myDestroy"
          p:brand="bmw"
          p:color="write"
          p:maxSpeed="210"
          />

    <bean id="car2" class="SpringStu.com.bean.lifecycle.od.Car"
          init-method="myInit"
          destroy-method="myDestroy"
          p:brand="bbb"
          p:color="tttt"
          p:maxSpeed="210"
    />

</beans>